.o-box{
    display: flex;
    color: rgba(106, 107, 111, 1);
    align-items: center;
    justify-content:left;
    text-align: center;
    height: 50px;
    width: 230px;
    font-size: 18px;
    padding: 0px 10px;
    cursor: pointer;
}
.o-box:hover{
    background-color: rgba(106, 107, 111, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}
.icon-p{
 display: flex;
 margin: 0px 3px;
}
